In [150]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
import plotly.plotly as py
from plotly.graph_objs import *
import matplotlib.pyplot as plt

In [151]:
pwd

'/Users/alvinchung/Documents/GitHub/govhack2017/dataset-test/Visualizations'

In [152]:
df = pd.read_csv('~/Documents/GitHub/govhack2017/dataset-test/2016.csv')
df.head()

,Unnamed: 0,year,school,subject,t_band6,t_male,t_female
0,0,2016,Inverell High School,15080 - Design and Technology,1,0,1
1,1,2016,Inverell High School,15000 - Aboriginal Studies,1,0,1
2,2,2016,Inverell High School,15290 - Music 1,1,1,0
3,3,2016,Inverell High School,15090 - Drama,1,0,1
4,4,2016,Georges River College Oatley Senior Campus,15310 - Music Extension,2,2,0

In [153]:
df.sum()

Unnamed: 0                                             25073821
year                                                   14277312
school        Inverell High SchoolInverell High SchoolInvere...
subject       15080 - Design and Technology15000 - Aborigina...
t_band6                                                   27155
t_male                                                    11532
t_female                                                  15623
dtype: object

In [154]:
print(df.isnull().any())
print(df.dtypes)

Unnamed: 0    False
year          False
school        False
subject       False
t_band6       False
t_male        False
t_female      False
dtype: bool
Unnamed: 0     int64
year           int64
school        object
subject       object
t_band6        int64
t_male         int64
t_female       int64
dtype: object

In [155]:
mydict = {}

for subject in df['subject']:
    if subject not in mydict:
        mydict[subject] = 1
    else:
        mydict[subject] +=1


total_subject = mydict.values()
name = mydict.keys()
print(mydict)

{'15080 - Design and Technology': 118, '15000 - Aboriginal Studies': 11, '15290 - Music 1': 260, '15090 - Drama': 142, '15310 - Music Extension': 73, '15820 - Japanese Beginners': 39, '15340 - Senior Science': 122, '15830 - Japanese Continuers': 48, '15180 - Food Technology': 90, '15980 - Modern Greek Continuers': 13, '15250 - Mathematics Extension 1': 280, '15670 - French Beginners': 42, '15320 - Personal Development, Health and Physical Education': 353, '15400 - Visual Arts': 267, '15140 - English (Advanced)': 337, '26579 - Hospitality Examination': 85, '15560 - Chinese Background Speakers': 33, '15510 - Arabic Continuers': 11, '26499 - Entertainment Industry Examination': 27, '15350 - Society and Culture': 154, '15060 - Community and Family Studies': 125, '15030 - Biology': 287, '15940 - Macedonian Continuers': 6, '15540 - Chinese Beginners': 5, '15240 - Mathematics': 341, '15260 - Mathematics Extension 2': 141, '15235 - Mathematics General 2': 290, '15520 - Arabic Extension': 6, '15990 - Modern Greek Extension': 12, '15200 - Industrial Technology': 118, '15360 - Software Design and Development': 67, '15280 - History Extension': 125, '15270 - Modern History': 201, '15380 - Studies of Religion II': 112, '15100 - Earth and Environmental Science': 38, '15050 - Chemistry': 168, '15020 - Ancient History': 218, '15070 - Dance': 24, '15160 - English Extension 1': 272, '15130 - English (Standard)': 80, '15220 - Legal Studies': 247, '15110 - Economics': 132, '15190 - Geography': 91, '15040 - Business Studies': 256, '15730 - Hindi Continuers': 2, '15170 - English Extension 2': 107, '15850 - Japanese Extension': 24, '15120 - Engineering Studies': 62, '15370 - Studies of Religion I': 156, '15910 - Latin Extension': 16, '15690 - French Extension': 20, '15330 - Physics': 156, '15390 - Textiles and Design': 76, '15900 - Latin Continuers': 16, '15580 - Classical Greek Continuers': 4, '15710 - German Continuers': 23, '15010 - Agriculture': 24, '15550 - Chinese Continuers': 13, '15590 - Classical Greek Extension': 4, '15790 - Italian Beginners': 26, '15680 - French Continuers': 52, '15300 - Music 2': 69, '15150 - English as a Second Language': 39, '16140 - Vietnamese Continuers': 2, '16120 - Turkish Continuers': 5, '16030 - Portuguese Continuers': 3, '15835 - Heritage Japanese': 6, '16090 - Spanish Extension': 4, '15720 - German Extension': 9, '16070 - Spanish Beginners': 6, '15700 - German Beginners': 15, '16020 - Polish Continuers': 9, '26299 - Construction Examination': 14, '15210 - Information Processes and Technology': 63, '15570 - Chinese Extension': 6, '26199 - Business Services Examination': 18, '15800 - Italian Continuers': 22, '15810 - Italian Extension': 7, '15760 - Indonesian Continuers': 6, '27379 - Information and Digital Technology Examination': 6, '16045 - Russian Continuers': 12, '16010 - Persian Background Speakers': 6, '16050 - Serbian Continuers': 4, '15555 - Heritage Chinese (Mandarin)': 11, '15885 - Heritage Korean': 11, '26899 - Primary Industries Examination': 9, '15750 - Indonesian Beginners': 4, '15780 - Indonesian Extension': 1, '15840 - Japanese Background Speakers': 4, '26079 - Automotive Examination': 6, '15660 - Filipino Continuers': 1, '16080 - Spanish Continuers': 4, '16130 - Ukrainian Continuers': 2, '15610 - Classical Hebrew Extension': 2, '16000 - Modern Hebrew Continuers': 8, '15600 - Classical Hebrew Continuers': 2, '15970 - Modern Greek Beginners': 14, '15880 - Korean Continuers': 4, '27199 - Human Services Examination': 3, '15640 - Dutch Continuers': 2, '16035 - Punjabi Continuers': 1, '15890 - Korean Background Speakers': 2, '27499 - Tourism, Travel and Events Examination': 1, '15765 - Heritage Indonesian': 1, '27299 - Financial Services Examination': 3, '26999 - Retail Services Examination': 2, '16110 - Tamil Continuers': 1, '26399 - Electrotechnology Examination': 2, '15530 - Armenian Continuers': 1, '15960 - Maltese Continuers': 1}

In [161]:
df1 = pd.read_csv('~/Documents/GitHub/govhack2017/dataset-test/mycsvfile.csv')
df1.head()

                         Subject  Total
0  15080 - Design and Technology    118
1     15000 - Aboriginal Studies     11
2                15290 - Music 1    260
3                  15090 - Drama    142
4        15310 - Music Extension     73

In [168]:
ax = sns.barplot(x="Subject", y="Total", data=df1)